.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 5%;
  background-color: #ffdb67;
  flex-direction: row; /* Default layout */
}

/* Mobile View */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column; /* Stack elements for mobile */
    text-align: center;
    justify-content: center;
    padding: 5%;
  }
}

/* Text Section */
.home-text {
  flex: 1;
  color: #333;
  text-align: left;
}

@media (max-width: 768px) {
  .home-text {
    text-align: center; /* Center text on mobile */
  }
}

.home-text h1 {
  font-size: 3rem;
  color: #ff9f43;
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

@media (max-width: 768px) {
  .home-text h1 {
    font-size: 2.5rem; /* Slightly smaller for mobile */
  }
}

/* Scrolling Text */
.big-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  height: 3rem;
  font-family: "Libre Baskerville", serif;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 8s linear infinite;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #ff9f43, #ff6f91, #6a82fb, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Libre Baskerville", serif;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Third Line */
.home-text h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #333;
  font-family: "Libre Baskerville", serif;
}

@media (max-width: 768px) {
  .home-text h3 {
    font-size: 1.2rem;
  }
}

/* View CV Button */
.button-container {
  margin-top: 30px;
}

.view-cv-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff6f91;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  font-family: "Libre Baskerville", serif;
}

.view-cv-button:hover {
  background-color: #ff9f43;
  transform: scale(1.1);
}

/* Image Section */
.home-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .home-icon {
    margin-top: 30px; /* Add space between text and image */
  }
}

.home-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .home-image {
    width: 250px;
    height: 250px; /* Smaller image for mobile */
  }
}
