/* General Styles */
* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffdb67; /* Unified background color */
  color: #333;
  height: 100%;
  overflow-x: hidden; /* Remove horizontal scrollbar */
}

.container {
  display: flex;
  overflow-x: auto;
}

.content-area {
  width: 80%; /* Content area takes up 80% of the container width */
  padding: 20px;
  overflow-y: auto; /* Vertical scrolling allowed for content if necessary */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures the content area fits vertically within the viewport */
}

/* Sidebar Navigation */
.side-nav {
  width: 20%; /* Sidebar takes up 20% of the container width */
  position: fixed; /* Fixed position on the right side */
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffdb67; /* Ensures sidebar matches background */
  z-index: 1000; /* Keeps the sidebar above content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Animation for showing/hiding */
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px; /* Adjust top margin to create space from top */
}

.side-nav ul li {
  margin: 20px 0;
}

.side-nav ul li a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s, transform 0.2s;
}

.side-nav ul li a:hover {
  color: #333;
  transform: scale(1.1);
}

/* Sections */
section {
  padding: 40px 20px;
  margin-bottom: 40px;
  background-color: #ffdb67;
}

.hero {
  color: #333;
  padding: 60px 20px;
  text-align: center;
}

.menu-icon {
  display: none; /* Hidden by default */
  font-size: 2rem;
  color: #4a90e2;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1100;
}




/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .content-area {
    width: 100%; /* Full width for content on mobile */
    padding: 10px;
  }

  .side-nav {
    width: 100%; /* Full width for navigation on mobile */
    height: 100%; /* Full height for overlay effect */
    transform: translateX(100%); /* Hidden by default */
    position: fixed;
  }

  .side-nav.open {
    transform: translateX(0); /* Slide in when open */
  }

  .side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .side-nav ul li {
    margin: 15px 0;
  }

  .menu-icon {
    display: block; /* Show hamburger icon */
  }
}
